<% include header %>
    <div id="Links" class=menuBar>
        <p>
            <a id="home" href="/">Home</a> |
            <a id="store" href="/store">Store</a> |
            <a id="account" href="/login">Account</a> |
            <a id="about">About</a>
        </p>
        <div id="content" class=mainContent>
            <p>About stuff goes here</p>

        </div>
    </div>
    <% include footer %>