<!DOCTYPE html>
<html>

<head>
    <title>WSG</title>
    <link href="/mainDesign.css" rel="stylesheet" type="text/css">
</head>

<body style=background-color:#E6E6E6;>
    <div id=container style=width:80%;margin-left:10%;background-color:#E6E6E6;>

        <div id="header" class=header>
            <h1 style=color:#FFFFFF;>Wilderness Survival Game</h1>
        </div>