        <div id="Links" class=menuBar>
            <p><a id="home" href="/">Home</a>  |  
                <a id="store" href="/store">Store</a> |  
                <a id="account" href="/login">Account</a> |  
                <a id="about" href="/about">About</a>            
            </p>
        </div>